a {
  text-decoration: none;
}

.underline {
  border-bottom: 1px #000 solid;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 75px 96px 50px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  color: #000;


}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: block;
  width: 129.11px;
  height: 104.65px;
}

.address {
  justify-self: left;
  font-style: normal;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  z-index: -2;
  min-height: 757px;
  background: url(../images/cover.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  padding: 165px 50px 106px 50px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  text-transform: uppercase;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.aligned-text_center {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.aligned-text_right {
  display: flex;
  justify-content: right;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: flex;
}

.cover__description-text {
  padding: 12px 107px 0 50px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 0.9em;
}

.bet-button {
  box-sizing: border-box;
  min-height: 51px;
  border: 1px solid #ffffff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #0000;
  cursor: pointer;
}

.lots {
  margin: 180px 24px 120px;
}

.lots__heading {
  padding: 0 40px 27px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  list-style: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  color: #fff;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-link {
  z-index: -2;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.lots__look-more-link {
  margin: 0 40px;
  border-bottom: 1px #000 solid;
}

.about {
  display: flex;
  margin: 0 24px 180px;
  padding: 35px 0 0 47px;
}

.about__logo {
  display: block;
  width: 148px;
}

.about__column {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__text-column {
  padding: 98px 24px 0 72px;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about__title {
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about__paragraph {
  display: block;
  padding: 100px 0 24px 0;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 82px;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.footer__menu-list-item {
  text-align: center;
  list-style: none;
}

.footer__social-item {
  display: flex;
  gap: 48px;
}

.footer__social-list {
  justify-items: end;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  height: 48px;
}
